{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Sign Up {% endblock %}

{% block css_block %}
 <style>
     .sign_up {
         width: 600px;
         border: 1px solid #cccccc7e;
         padding: 50px;
     }
     .log_in {
         width: 600px;
         padding: 50px;
         border: 1px solid #cccccc7e;
     }
 </style>
{% endblock %}

{% block body_block %}
<center>
<div class="sign_up">
    <h3>Sign Up to see streaming videos</h3>
    <form method="POST">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" style="width: 100%;" class="btn btn-danger">Sign Up</button>
     </form>
</div>
<br>
<div class="log_in">
    <p>Have an account? <a href="{% url 'App_Login:login' %}">Log in</a></p>
</div>

</center>
{% endblock %}